*/[Bb]in/
*/[Oo]bj/
*.user
*.suo
*.sln.cache
lib/Json40r2.zip
lib/Json40r2/Source/*
lib/WCF WebSockets
Microsoft.ServiceModel.WebSockets.Silverlight
lib/Json40r2/Bin/Net20
lib/Json40r2/Bin/Net35
lib/Json40r2/Bin/WindowsPhone