<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />

      <httpHandlers>
        <add verb="*" path="/pusher/auth/" type="PusherSilverlightTestApp.Web.PusherAuthHandler" />
      </httpHandlers>
    </system.web>

  <appSettings>
    <add key="pusher-application-id" value="YOUR_APP_ID"/>
    <add key="pusher-application-key" value="YOUR_APP_KEY"/>
    <add key="pusher-application-secret" value="YOUR_APP_SECRET"/>
  </appSettings>

</configuration>
